/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/03/2017, 12:52:46 PM
    Author     : ale
*/
@import url('style.css');


@media screen 
and (min-device-width: 0px) {
    .mainImage{
        display: none;
    }
     .contactfooter{
        display: none;
    }

     h1{
        width: 100%;
        float: left;
        font-size: 1.0em;

    }
    

li{
    clear: both;
    display: block ;

}


a:link {
    color: green;
}

/* link visitado */
a:visited {
    color: green;
}

/* mouse sobre link */
a:hover {
    color: blue;
}

/* link seleccionado */
a:active {
    color: grey;
}


    section{
        width: 100%;

    }

    article{
        width: 100%;
    }

    aside{
        width: 100%

    }
    
    .contactfooter{
        display: none;
    }
    
}

@media screen 
and (min-device-width: 767px) {
    
    li{
    clear: both;
    display: inline ;

}

a:hover {
    color: blue;
    background-color: aquamarine;
}
     .mainImage2{
        display: none;
    }
    
    .mainImage{
        display: inline;
    }
   
     article{
    width: 35%;
    float: left;

}

aside{
    width: 30%;
    float: left;

}

.contactfooter{
    display: inline;
}

}

@media screen 
and (min-device-width: 979px) {
   h1{
    width: 30%;
    float: left;
    font-size: 1.0em;

}


nav{
    width: 30%;
    float: left;
    padding-left: 30%;
}

}






