/*
Autor:Carlos Alejandro Montero Navarro
cedual:114910639
Examen html-css
css resposive pagina de impresion
descripción: en este documento de encuetran todos los media querys necesarios para hacer que la aplicacion
ajuste su contenido para impresion

*/


@media print {
    /*basicamente de ajustan todos los valores de cada 
    cantido de la pagina segun lo necesario para realizar una impresion*/
    html{
        text-align: center;
    }
    
    .mainImage2{
        display: none;
    }
    
    h1{
        width: 100%;
    }
    
    nav{
        width: 100%;
        padding: 0%;
    }
    
    li{
    clear: both;
    display: block ;

}
    
    article{
        width: 100%;
    }
    
    
    
    aside{
        width: 100%;
    }
    
    p{
        width: 80%;
        text-align: justify;

    }
    
    footer p{
        text-align: center;
    }
    .contactfooter{
        display: none;
    }
}