/*
Autor:Carlos Alejandro Montero Navarro
cedual:114910639
Examen html-css
css principal
descripción: código css base que se todo para toda la aplicacion
aquí se predefinen todos los valores de cada apartado segun lo indica el mockup 

*/
/* definicion de los valores del html en general*/
html{
    width: 1200px;
    min-height: 100%;
    padding: 2%;
    font-family: Times New Roman, sans-serif;
    text-align: center;


}

/* definicion de los valores del contenedor pricipal*/

#container{
    height: 30%;
}

/* definicion de los valores del h1 de la aplicacion*/

h1{
    width: 30%;
    float: left;
    font-size: 1.0em;
    color: blue;

}
/* definicion del color de todos los h2 de la aplicacion*/

h2{
    color: #5262fe;
}

/* definicion de los valores del nav de la aplicacion*/

nav{
    width: 30%;
    float: left;
    padding-left: 30%;
}

/* definicion de los valores del li para que se mueste en una sola linea */

li{
    display: inline;
    padding: 3%;

}

/* definicion de los valores del a para que link sea verde*/
a:link {
    color: green;
}

/* link visitado */
a:visited {
    color: green;
}

/* mouse sobre link */
a:hover {
    color: blue;
    background-color: aquamarine;
}

/* link seleccionado */
a:active {
    color: grey;
}

/* definicion de los valores de la imagen principal */
.mainImage{
    width: 91.666666667%;
    height: 47.222222222%;

}
/* definicion de los valores de las subimages */
.subImages{
    width: 50%;
    height: 50%;
}

/* definicion de los valores de los articulos */
article{
    width: 35%;
    float: left;

}
/* definicion de los valores del tipo de alineado de los parrafos */
p{
    text-align: justify;
}
/* definicion de los valores de las columna izq que es un aside*/
aside{
    width: 30%;
    float: left;
    padding-bottom: 8%;

}
/* definicion de los valores del boxmodel */
.boxModel{
    background-color: gray;
    width: 80%;
    border: 2px solid black;
    padding: 5%;
    margin: 5%;

}


/* definicion de los valores del sticky footer */
footer {
     padding-right: 10%;
    background-color: #bed7c8;
    position: fixed;
    bottom: 0%;
    left: 0%;
    right: 0%;
  
} 